{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 mt-5">
            {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

                {% if app.user.imageFilename %}
                    <div class="user-image d-flex justify-content-center">
                        <img src="{{ app.user.imagePath|imagine_filter('squared_thumbnail_medium') }}" alt="profile picture">
                    </div>
                {% endif %}
                {{ form_row(form.firstName, {
                    'attr': {'placeholder': 'First name'}
                }) }}
                {{ form_row(form.lastName, {
                    'attr': {'placeholder': 'Last name'}
                }) }}
                {{ form_row(form.email, {
                    attr: { 'placeholder': 'Email' }
                }) }}
                {{ form_row(form.imageFile, {
                    attr: {
                        'placeholder': 'Select an image for your profil picture'
                    }
                }) }}
                {{ form_row(form.current_password, {
                    'attr': {'placeholder': 'Confirm Password'}
                }) }}
                <div>
                    <input type="submit" value="{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}" />
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
