<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Horizon{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ uploaded_asset("logo/small-logo.png") }}" />

        {% block OpenGraph %}
            <meta property="og:title" content="Horizon" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="http://www.horizon-technology.fr" />
        {% endblock %}
        <meta property="og:image" content="{{ uploaded_asset("logo/logo.png") }}" />
        <meta property="og:site_name" content="Horizon" />

        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="background-block"></div>
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
            <div class="alert alert-warning" style="margin-bottom: 0;">
                You are currently switched to this user.
                <a href="{{ path('app_homepage', {'_switch_user': '_exit'}) }}">Exit Impersonation</a>
            </div>
        {% endif %}

        {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
                <div class="container">
                    <a class="navbar-brand js-scroll-trigger" href="{{ path('app_homepage') }}">Horizon</a>
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                        Menu
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarResponsive">
                        <ul class="navbar-nav text-uppercase ml-auto">
                            {% if is_granted('ROLE_USER') %}
                                <li class="nav-item">
                                    <a class="nav-link js-scroll-trigger" href="{{ path('project_filter') }}" >Explore</a>
                                </li>
                                <li class="nav-item dropdown d-flex d-flex-column" >
                                    <a class="nav-link nav-link-img dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"  aria-expanded="false">
                                        {% if app.user.imageFilename %}
                                            <img class="nav-profile-img rounded-circle" src="{{ app.user.imagePath|imagine_filter('squared_thumbnail_small') }}">
                                        {% else %}
                                            <i class="far fa-laugh-beam"></i>
                                        {% endif %}
                                    </a>
                                    <div class="dropdown-menu dropdown-profile-img" >
                                        <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Profile</a>
                                        <a class="dropdown-item" href="{{ path('project_new') }}">Create</a>
                                        <a class="dropdown-item" href="{{ path('project_list') }}">List</a>
                                        <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Logout</a>
                                    </div>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="content-wrap">
            {% block body %}{% endblock %}
        </div>

        {% block footer %}
            <!-- Footer -->
            <footer class="footer mt-5">

                <!-- Footer Links -->
                <div class="container">

                    <!-- Grid row-->
                    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

                        <!-- Grid column -->
                        <div class="col-md-2 mb-3">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{{ path('app_homepage') }}">Home</a>
                            </h6>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 mb-3">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{{ path('project_filter') }}">Explore</a>
                            </h6>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 mb-3">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{{ path('fos_user_profile_show') }}">Profile</a>
                            </h6>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 mb-3">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{{ path('project_new') }}">Create</a>
                            </h6>
                        </div>
                        <!-- Grid column -->

                        <!-- Grid column -->
                        <div class="col-md-2 mb-3">
                            <h6 class="text-uppercase font-weight-bold">
                                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                            </h6>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row-->
                    <hr class="rgba-white-light">

                    <!-- Grid row-->
                    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

                        <!-- Grid column -->
                        <div class="col-md-8 col-12 mt-3 mb-3">
                            <p>This website is an Openclassrooms project.</p>
                            <p>For more informations you can contact me with the links below.</p>
                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row-->
                    <hr class="clearfix d-md-none rgba-white-light">

                    <!-- Grid row-->
                    <div class="row">

                        <!-- Grid column -->
                        <div class="col-md-12">

                            <div class="mt-2 d-flex justify-content-center contact-icons">

                                <!-- Facebook -->
                                <a class="fb-ic" href="http://m.me/remi.r22">
                                    <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
                                </a>
                                <!-- Twitter -->
                                <a class="tw-ic" href="https://twitter.com/RemiR22">
                                    <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
                                </a>
                                <!-- Github -->
                                <a class="gplus-ic" href="https://github.com/remiraumain">
                                    <i class="fab fa-github fa-lg white-text mr-4"> </i>
                                </a>
                                <!--Linkedin -->
                                <a class="li-ic" href="https://www.linkedin.com/in/raumainremi/">
                                    <i class="fab fa-linkedin-in fa-lg white-text mr-4"> </i>
                                </a>
                                <!--Instagram-->
                                <a class="ins-ic" href="https://www.instagram.com/horizon_technology/">
                                    <i class="fab fa-instagram fa-lg white-text mr-4"> </i>
                                </a>
                                <!--Reddit-->
                                <a class="pin-ic" href="https://www.reddit.com/user/remir22">
                                    <i class="fab fa-reddit fa-lg white-text"> </i>
                                </a>

                            </div>

                        </div>
                        <!-- Grid column -->

                    </div>
                    <!-- Grid row-->

                </div>
                <!-- Footer Links -->

                <!-- Copyright -->
                <div class="text-center py-3">
                    <p>Rémi Raumain</p>
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
            <script src="{{ asset('js/navbar.js') }}"></script>
        {% endblock %}
    </body>
</html>
