{% extends 'content_base.html.twig' %}

{% block content_body %}
<div class="flex-wrap d-flex justify-content-center">
    <span class="switcher switcher-1">
       <input type="checkbox" id="switcher-1">
       <label for="switcher-1"></label>
    </span>

    <a href="{{ path('app_homepage') }}">Liked</a>
    {% for project in projects %}
        <div>
        {% set firstImage = project.projectImages|first %}
            {% if firstImage %}
            <a href="{{ path('project_show', {slug: project.slug}) }}">
                <img src="{{ firstImage.imagePath|imagine_filter('squared_thumbnail_small') }}">
            </a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/hompage.css') }}">
{% endblock %}

