{% extends 'base.html.twig' %}

{% block nav %}{% endblock %}

{% block body %}
    <div class="transition"></div>
    <div class="content">
        <h1>Welcome to Horizon</h1>
        <p>Share your ideas to make it happen.</p>
        <div class="link">
            <a class="cta" href="{{ path('fos_user_security_login') }}">Login</a>
            <a class="cta" href="{{ path('fos_user_registration_register') }}">Register</a>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/transition.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/transition.js') }}"></script>
{% endblock %}
