{% extends 'content_base.html.twig' %}

{% block content_body %}
    <div class="project-heading">
        <a href="{{ path('project_filter', {'filter': {'name': project.category.name, 'id': project.category.id}}) }}">{{ project.category.name }}</a>
        <h1>{{ project.name }}</h1>
        {% if project.author is same as(app.user) %}
            <a href="{{ path('project_edit', {'slug': project.slug}) }}"><i class="fas fa-cog edit-icon"></i></a>
        {% endif %}
    </div>


    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for image in project.projectImages %}
                {% if project.projectImages|length > 1  %}
                    {% if loop.first %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}" class="active"></li>
                    {% else %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index }}"></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for image in project.projectImages %}
                {% if loop.first %}
                    <div class="carousel-item active">
                        <a class="d-flex justify-content-center" href="{{ uploaded_asset(image.imagePath) }}" target="_blank">
                            <img class="d-block" src="{{ image.imagePath|imagine_filter('slideshow') }}" alt="First slide">
                        </a>
                    </div>
                {% else %}
                    <div class="carousel-item">
                        <a class="d-flex justify-content-center" href="{{ uploaded_asset(image.imagePath) }}" target="_blank">
                            <img class="d-block" src="{{ image.imagePath|imagine_filter('slideshow') }}" alt="Other slide">
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% if project.projectImages|length > 1  %}
            <a class="carousel-control-prev carousel-control" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon carousel-control-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next carousel-control" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon carousel-control-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        {% endif %}
    </div>
    <div class="meta-project">
        <div class="heart">
            <span class="js-like-project-count">{{ project.likeUsers|length }}</span>
            <a href="{{ path('project_like', {'slug': project.slug}) }}" class="{% if like %}fas{% else %}far{% endif %} fa-heart like-article js-like-project"></a>
        </div>
        <a class="project-author-info" href="{{ path('profile_show', {'id': project.author.id}) }}">
            {% if project.author.imageFilename %}
                <img class="rounded-circle" src="{{ project.author.imagePath|imagine_filter('squared_thumbnail_small') }}" alt="profil picture">
            {% else %}
                <i class="far fa-laugh-beam default-profile-image"></i>
            {% endif %}
            <p>{{ project.author.firstName }} {{ project.author.lastName }}</p>
        </a>
    </div>
    <div class="row">
        <div class="{{ project.projectReferences|length ? 'col-sm-9' : 'col-sm-12' }}">
            <div class="project-text mt-3">
                <p>{{ project.description }}</p>
            </div>
            <span class="project-date">{{ project.publishedAt|date("m.d.Y") }}</span>
        </div>
    {% if project.projectReferences|length  %}
        <div class="d-flex-column col-sm-3">
            <ul class="list-group pt-3">
                {% for reference in project.projectReferences %}
                    <li class="list-group-item d-flex reference-item">
                        <p>{{ reference.originalFilename }}</p>
                        <span>
                        <a href="/project/references/{{ reference.id }}/download"><span class="fa fa-download"></span></a>
                    </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    </div>
    <div class="mt-5">
        {{ form_start(form) }}
        {{ form_row(form.content, {'label': 'Comment'}) }}

        <button type="submit" class="button-classic">Valider</button>
        {{ form_end(form) }}
    </div>

    {% if project.comments|length  %}
    <div class="row mt-5">
        {% for comment in project.comments %}
        <div class="d-flex d-flex-column col-sm-12 comment p-2 mt-3">
            <div class="d-flex">
                <a class="project-author-info" href="{{ path('profile_show', {'id': comment.author.id}) }}">
                    {% if project.author.imageFilename %}
                        <img class="rounded-circle" src="{{ comment.author.imagePath|imagine_filter('squared_thumbnail_small') }}" alt="profil picture">
                    {% else %}
                        <i class="far fa-laugh-beam default-profile-image"></i>
                    {% endif %}
                    <p>{{ comment.author.firstName }} {{ comment.author.lastName }}</p>
                </a>
                {% if comment.author is same as(app.user) %}
                    <a class="comment-delete" href="{{ path('comment_delete', {'id': comment.id}) }}"><i class="fas fa-times"></i></a>
                {% endif %}
            </div>
            <p class="comment-content">{{ comment.content }}</p>
            <span class="project-date">{{ comment.createdAt|date("m.d.Y") }}</span>
        </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/project.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/project.js') }}"></script>
{% endblock %}