{% extends 'content_base.html.twig' %}

{% block content_body %}
    <a href="{{ path('project_edit', {'slug': project.slug}) }}"><i class="fas fa-cog"></i></a>
    <h1>{{ project.name }}</h1>

    {% for image in project.projectImages %}
        <a href="{{ uploaded_asset(image.imagePath) }}" target="_blank">
            <img src="{{ image.imagePath|imagine_filter('squared_thumbnail_medium') }}">
        </a>
    {% endfor %}

    <div class="d-flex align-items-center">
        <a href="{{ path('profile_show', {'id': project.author.id}) }}">
            <img class="nav-profile-img rounded-circle" src="{{ project.author.imagePath|imagine_filter('squared_thumbnail_small') }}" alt="profile picture">
        </a>
        <a class="align-middle" href="{{ path('profile_show', {'id': project.author.id}) }}">
            {{ project.author.firstName }} {{ project.author.lastName }}
        </a>
    </div>
    <p>{{ project.description }}</p>
{% endblock %}

{% block title %}

{% endblock %}

